<p>datagrid works!</p>

<jqxGrid #myGrid 
  (onCellbeginedit)="cellBeginEditEvent($event)" 
  (onCellendedit)="cellEndEditEvent($event)"
  (onPageSizeChanged)="tableOnPageSizeChanged($event)"
  (onContextmenu)="myGridOnContextMenu()"
  (onRowclick)="myGridOnRowClick($event)"
  [width]="getWidth()" 
  [source]="dataAdapter" 
  [columns]="columns"
  [editable]="true" 
  [enabletooltips]="true" 
  [theme]="'metrodark'"
  [pageable]="true" 
  [autoheight]="true"
  [selectionmode]="'multiplecellsadvanced'">
</jqxGrid>

<div style="margin-top: 10px">
  <jqxButton (onClick)="refreshBtnOnClick()">Refresh Data</jqxButton>
  <jqxButton (onClick)="clearBtnOnClick()">Clear</jqxButton>
</div>

<div style="font-size: 12px; font-family: Verdana; margin-top: 30px;">
  <div #beginEdit></div>
  <div #endEdit style="margin-top: 10px;"></div>
</div>

<jqxPanel #myPanel style="margin-top: 5px"
  [width]="150" [height]="150">
</jqxPanel>

<jqxMenu #myMenu 
  (onItemclick)="myMenuOnItemClick($event)"
  [width]="200" 
  [height]="58" 
  [mode]="'popup'" 
  [autoOpenPopup]="false">
  <ul>
    <li>Edit Selected Row</li>
    <li>Delete Selected Row</li>
  </ul>
</jqxMenu>