<jqxGrid #myGrid 
  (onPageSizeChanged)="onPageSizeChanged($event)"
  (onContextmenu)="onContextMenu()"
  (onRowclick)="onRowClick($event)"
  (onCellbeginedit)="onCellBeginEdit($event)" 
  (onCellendedit)="onCellEndEdit($event)"  
  [width]="getWidth()" 
  [source]="dataAdapter" 
  [columns]="columns"
  [editable]="true" 
  [selectionmode]="'multiplecellsadvanced'"
  [enabletooltips]="true" 
  [theme]="'metrodark'"
  [pageable]="true" 
  [autoheight]="true">
</jqxGrid>

<div style="margin-top: 10px">
  <jqxButton (onClick)="refreshBtnOnClick()">Refresh Data</jqxButton>
  <jqxButton (onClick)="clearBtnOnClick()">Clear</jqxButton>
</div>

<jqxMenu #rcMenu 
  (onItemclick)="rcMenuOnItemClick($event)"
  [width]="200" 
  [height]="58" 
  [mode]="'popup'" 
  [autoOpenPopup]="false">
  <ul>
    <li>Edit Selected Row</li>
    <li>Delete Selected Row</li>
  </ul>
</jqxMenu>

<app-debugpanel>
</app-debugpanel>